.skill-visual-component-wrapper {
    border: 7px solid black;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: flex;
    position: relative;
    margin: auto;

}

.skill-section{
    display: relative;
    text-align: center;
}


.skill-image__wrapper {
    margin: auto;
    position: absolute;
    top: 25px;
    left: 80px;
}

.skill-rating__wrapper{
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 125px;
    font-size: 6rem;
}

.skill-visual-component-wrapper #two-digit-rating{
  left: 100px;
} 

